# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build/*
!build/libss
.gradle

# other
eclipse
run



logs/
saves/
mc/
jh
src/main/java/keystrokesmod/client/elements/moduleelement/modules/combat/KillAura.java
src/main/java/keystrokesmod/client/module/modules/combat/KillAura.java
